@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&family=Outfit:wght@400;500;600;700;800&display=swap");
/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
::-moz-selection {
  color: #F7F7F7;
  background: rgb(101 103 108);
}
::selection {
  color: #F7F7F7;
  background: rgb(101 103 108);
}

html {
  scroll-padding-top: 20px;
}

body {
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #171616;
  color: #FFFFFF;
  line-height: 1.6;
  overflow-x: hidden;
}
body::before {
  content: "";
  top: 27.5%;
  left: 23.9%;
  background-color: #F558F4;
  background-color: #8AC52B;
  -webkit-filter: blur(150px);
  -o-filter: blur(150px);
  filter: blur(150px);
  width: 270px;
  height: 270px;
  border-radius: 100%;
  position: fixed;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  body::before {
    width: 150px;
    height: 150px;
    -webkit-filter: blur(70px);
            filter: blur(70px);
  }
}
body::after {
  content: "";
  top: 42.8%;
  right: 25%;
  background-color: #636469;
  -webkit-filter: blur(150px);
  -o-filter: blur(150px);
  filter: blur(150px);
  width: 270px;
  height: 270px;
  border-radius: 100%;
  position: fixed;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  body::after {
    width: 150px;
    height: 150px;
    -webkit-filter: blur(70px);
            filter: blur(70px);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  color: #636469;
}
a:focus, a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  color: #F7F7F7;
}

p {
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  font-weight: normal;
}

.scroll-top {
  width: 35px;
  height: 35px;
  background-color: #636469;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #fff;
  border-radius: 7px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}
.scroll-top img {
  height: 18px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  fill: #ffffff;
}
.scroll-top:focus, .scroll-top:hover {
  color: #fff;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 0 0 0.25rem rgba(39, 133, 48, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(39, 133, 48, 0.5);
}

/*--------------------------------------------------------------
  ##  Page Loader
  --------------------------------------------------------------*/
.page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999999;
  background-color: #171616;
}

.loader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -webkit-animation: pulsOut 1.8s ease-in-out infinite;
          animation: pulsOut 1.8s ease-in-out infinite;
  -webkit-filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
          filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  -webkit-box-shadow: inset 0 0 0 1rem #636469;
          box-shadow: inset 0 0 0 1rem #636469;
  -webkit-animation-name: pulsIn;
          animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  -webkit-box-shadow: 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff;
}

@-webkit-keyframes pulsIn {
  0% {
    -webkit-box-shadow: inset 0 0 0 1rem #636469;
            box-shadow: inset 0 0 0 1rem #636469;
    opacity: 1;
  }
  50%, 100% {
    -webkit-box-shadow: inset 0 0 0 0 #fff;
            box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsIn {
  0% {
    -webkit-box-shadow: inset 0 0 0 1rem #636469;
            box-shadow: inset 0 0 0 1rem #636469;
    opacity: 1;
  }
  50%, 100% {
    -webkit-box-shadow: inset 0 0 0 0 #fff;
            box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}
@-webkit-keyframes pulsOut {
  0%, 50% {
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 1rem #fff;
            box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
@keyframes pulsOut {
  0%, 50% {
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 1rem #fff;
            box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
/*--------------------------------------------------------------
  ## btn-outline
--------------------------------------------------------------*/
.btn-outline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #171616;
  padding: 12px 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-outline span {
  margin: auto;
}
.btn-outline svg {
  margin-left: auto;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-outline:hover {
  color: #636469;
  border-color: #636469;
}
.btn-outline:hover svg path {
  fill: #636469;
}

.btn-outline-light {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  padding: 10px 24px;
  width: 100%;
  max-width: 223px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-outline-light svg {
  margin-left: 7px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-outline-light:hover {
  color: #636469;
  border-color: #ffffff;
  background-color: #ffffff;
}
.btn-outline-light:hover svg path {
  fill: #636469;
}

.btn-round {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  border-radius: 50px;
  border: 2.676px solid #636469;
  padding: 13px 26px;
  width: 100%;
  max-width: 260px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media only screen and (max-width: 767px) {
  .btn-round {
    padding: 11px 25px;
    font-size: 15px;
  }
}
.btn-round:hover {
  background-color: #636469;
  color: #FFFFFF;
}

.btn-round-light {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-style: normal;
  font-weight: 400;
  border-radius: 50px;
  padding: 12px 46px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media only screen and (max-width: 767px) {
  .btn-round-light {
    padding: 11px 25px;
    font-size: 15px;
  }
}
.btn-round-light:hover {
  border-color: #636469;
  background-color: #636469;
  color: #FFFFFF;
}

.btn-red {
  background-color: #F558F4;
  text-align: center;
  color: #F7F7F7;
  padding: 13px 50px;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-red:hover {
  background-color: #2196F3;
  color: #F7F7F7;
}

.btn-2 {
  background-color: #001eb6;
  text-align: center;
  color: #F7F7F7;
  padding: 13px 50px;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-2:hover {
  background-color: #F558F4;
  color: #F7F7F7;
}

.btn-2-outline {
  background-color: #171616;
  text-align: center;
  color: #F7F7F7;
  padding: 12px 50px;
  border-radius: 50px;
  border: 1px solid #636469;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-2-outline:hover {
  background-color: #636469;
  color: #F7F7F7;
}

.btn-red-outline {
  background-color: #171616;
  text-align: center;
  color: #F7F7F7;
  padding: 12px 50px;
  border-radius: 50px;
  border: 1px solid #F558F4;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-red-outline:hover {
  background-color: #F558F4;
  color: #F7F7F7;
}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #282b32;
}
@media (min-width: 992px) {
  .navbar-area .nav-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.navbar {
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 15px 0;
}
@media only screen and (max-width: 1199px) {
  .navbar {
    padding: 10px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding: 10px 0;
  }
}
@media (max-width: 482px) {
  .navbar {
    padding: 10px 0;
  }
}
.navbar .navbar-brand {
  padding: 0;
  text-decoration: none;
}
.navbar .navbar-brand img {
  height: 45px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-brand img {
    height: 40px;
  }
}
@media only screen and (max-width: 482px) {
  .navbar .navbar-brand img {
    height: 35px;
  }
}
.navbar .navbar-nav {
  /** Large devices (desktops, 992px and up) **/
}
@media (min-width: 992px) {
  .navbar .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.navbar .navbar-nav .nav-item {
  position: relative;
  margin-left: 34px;
}
@media only screen and (max-width: 1199px) {
  .navbar .navbar-nav .nav-item {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item {
    margin-left: 16px;
  }
}
.navbar .navbar-nav .nav-item a {
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #F7F7F7;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
  position: relative;
  font-weight: 600;
}
.navbar .navbar-nav .nav-item a:hover, .navbar .navbar-nav .nav-item a.active {
  color: #636469;
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-item a {
    display: inline-block;
    margin: 4px 0px;
    padding: 6px 0;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 15px 12px 20px 12px;
    background-color: #0b0f1b;
    border-radius: 8px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
  }
}
.navbar .navbar-toggler {
  padding: 0;
}
.navbar .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.sticky .navbar {
  padding: 10px 0;
}
@media only screen and (max-width: 1199px) {
  .sticky .navbar {
    padding: 10px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .sticky .navbar {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .sticky .navbar {
    padding: 10px 0;
  }
}
@media (max-width: 482px) {
  .sticky .navbar {
    padding: 10px 0;
  }
}
.sticky .navbar .navbar-brand {
  padding: 0;
  text-decoration: none;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
            box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #171616;
    -webkit-box-shadow: 0 0 40px #171616;
            box-shadow: 0 0 40px #171616;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
            box-shadow: 0 0 3px #b20000;
  }
}

@keyframes glowing {
  0% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
            box-shadow: 0 0 3px #b20000;
  }
  50% {
    background-color: #171616;
    -webkit-box-shadow: 0 0 40px #171616;
            box-shadow: 0 0 40px #171616;
  }
  100% {
    background-color: #b20000;
    -webkit-box-shadow: 0 0 3px #b20000;
            box-shadow: 0 0 3px #b20000;
  }
}
.nav-social .nav-item .apply-btn {
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  text-align: center;
  background-color: transparent;
  padding: 8px 38px !important;
  text-transform: uppercase;
  font-size: 13px !important;
  font-weight: 700 !important;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-animation: glowing 1500ms infinite;
          animation: glowing 1500ms infinite;
}
.nav-social .nav-item .apply-btn:hover {
  background-color: #636469;
  color: #fff !important;
}
.nav-social .nav-item .apply-btn img {
  height: 14px;
  margin-left: 10px;
}

/*--------------------------------------------------------------
  ## hero-area
--------------------------------------------------------------*/
.hero-area {
  position: relative;
  background-color: rgb(101 103 108);
  background-image: linear-gradient(22deg, rgb(101 103 108) 0%, #e9600d 100%) 100%);
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media only screen and (max-width: 991px) {
  .hero-area {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.hero-area .hero-text {
  position: relative;
  padding-top: 80px;
}
@media only screen and (max-width: 991px) {
  .hero-area .hero-text {
    text-align: center;
    padding-top: 0;
  }
}
.hero-area .hero-text h1 {
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  line-height: 1.1;
  font-style: normal;
  font-weight: 700;
  text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1399px) {
  .hero-area .hero-text h1 {
    font-size: 65px;
  }
}
@media only screen and (max-width: 1199px) {
  .hero-area .hero-text h1 {
    font-size: 57px;
  }
}
@media only screen and (max-width: 991px) {
  .hero-area .hero-text h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-area .hero-text h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 482px) {
  .hero-area .hero-text h1 {
    font-size: 35px;
  }
}
.hero-area .hero-text h1 span {
  background: linear-gradient(87.65deg, #636469 -8.44%, #badaf7 97.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.hero-area .hero-text p {
  font-size: 20px;
  color: #fffefe;
  font-weight: 500;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .hero-area .hero-text p {
    margin-bottom: 10px;
    font-size: 17px;
  }
}
.hero-area .hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -6px;
  margin-right: -6px;
}
@media only screen and (max-width: 767px) {
  .hero-area .hero-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero-area .hero-btn a {
  margin-left: 6px;
  margin-right: 6px;
}
@media only screen and (max-width: 767px) {
  .hero-area .hero-btn a {
    margin-top: 20px;
  }
}

/*--------------------------------------------------------------
  ## case
--------------------------------------------------------------*/
.case {
  padding: 80px 0px;
}
@media only screen and (max-width: 767px) {
  .case {
    padding: 50px 0px;
  }
}
.case .sec-t {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1199px) {
  .case .sec-t {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .case .sec-t {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .case .sec-t {
    margin-bottom: 40px;
  }
}
.case .sec-t h2 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #F7F7F7;
  letter-spacing: 1.2px;
  margin-bottom: 16px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #fff, -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff;
  color: #000;
}
@media only screen and (max-width: 1199px) {
  .case .sec-t h2 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .case .sec-t h2 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .case .sec-t h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .case .sec-t h2 {
    font-size: 33px;
  }
}
.case .sec-t p {
  color: #ffd25f;
  letter-spacing: 2px;
}
@media only screen and (max-width: 767px) {
  .case .sec-t p {
    letter-spacing: 1px;
  }
}

.case-single {
  background: #171717;
  -webkit-box-shadow: inset 0 0 25px #000;
          box-shadow: inset 0 0 25px #000;
  padding: 15px;
  text-align: center;
  height: 100%;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.case-single .case-in {
  -webkit-box-shadow: inset 0 0 25px #000;
          box-shadow: inset 0 0 25px #000;
  padding: 15px;
  border-radius: 18px;
  background: #1d1d1d;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.case-single .case-img {
  height: 165px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 50px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media only screen and (max-width: 1199px) {
  .case-single .case-img {
    height: 140px;
  }
}
@media only screen and (max-width: 991px) {
  .case-single .case-img {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .case-single .case-img {
    height: 130px;
  }
}
.case-single img {
  margin-top: auto;
}
.case-single span {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-color: #636469;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.case-single h3 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #F7F7F7;
  margin-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  .case-single h3 {
    font-size: 20px;
    margin-bottom: 18px;
  }
}
.case-single p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .case-single p {
    font-size: 15px;
    font-weight: 400;
  }
}
.case-single:hover .case-img {
  -webkit-animation: shake 0.5s ease-in-out infinite;
          animation: shake 0.5s ease-in-out infinite;
}

/* Define the keyframe animation */
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25%, 75% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25%, 75% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}
/*--------------------------------------------------------------
  ## table
--------------------------------------------------------------*/
/* Custom styling for the table */
.comparison-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}
.comparison-table > :not(caption) > * > * {
  border-color: rgba(255, 255, 255, 0.1490196078);
}
@media only screen and (max-width: 767px) {
  .comparison-table {
    margin-bottom: 40px;
  }
}

.comparison-table th,
.comparison-table td {
  height: 115px;
}
@media only screen and (max-width: 767px) {
  .comparison-table th,
  .comparison-table td {
    height: 90px;
  }
}
.comparison-table th.bg,
.comparison-table td.bg {
  background: rgba(255, 255, 255, 0.05);
}

.comparison-table td {
  font-size: 17px;
  color: #FFFFFF;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .comparison-table td {
    font-size: 16px;
  }
}
@media only screen and (max-width: 482px) {
  .comparison-table td {
    font-size: 14px;
  }
}
.comparison-table td.bg {
  background: rgba(255, 255, 255, 0.05);
  color: #ffe39b;
  font-size: 22px;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .comparison-table td.bg {
    font-size: 21px;
  }
}
@media only screen and (max-width: 482px) {
  .comparison-table td.bg {
    font-size: 17px;
  }
}

.comparison-table th {
  text-align: center;
  vertical-align: middle;
  max-width: 120px;
}
@media only screen and (max-width: 767px) {
  .comparison-table th {
    max-width: 90px;
  }
}
@media only screen and (max-width: 482px) {
  .comparison-table th {
    max-width: 80px;
  }
}
.comparison-table th span {
  background: -webkit-gradient(linear, left top, right top, from(#6489ff), to(#56c2ff));
  background: linear-gradient(90deg, #6489ff 0%, #56c2ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #F7F7F7;
}
@media only screen and (max-width: 767px) {
  .comparison-table th span {
    font-size: 17px;
  }
}
@media only screen and (max-width: 482px) {
  .comparison-table th span {
    font-size: 15px;
  }
}
.comparison-table th h5 {
  font-size: 18px;
  font-weight: 700;
  color: #F7F7F7;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .comparison-table th h5 {
    margin-bottom: 4px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 482px) {
  .comparison-table th h5 {
    font-size: 15px;
  }
}
.comparison-table th small {
  color: #888d93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .comparison-table th small {
    font-size: 15px;
  }
}
@media only screen and (max-width: 482px) {
  .comparison-table th small {
    font-size: 14px;
  }
}
.comparison-table th p {
  color: #888d93;
  padding: 0px 70px;
  text-align: center;
  font-family: Inter;
  font-size: 12.56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 1199px) {
  .comparison-table th p {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 991px) {
  .comparison-table th p {
    padding: 0px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .comparison-table th p {
    padding: 0px 1px;
    font-size: 9px;
  }
}

/*--------------------------------------------------------------
  ## anytime
--------------------------------------------------------------*/
.anytime {
  padding: 80px 0px;
}
@media only screen and (max-width: 767px) {
  .anytime {
    padding: 50px 0px;
  }
}
.anytime .sec-t {
  text-align: center;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1199px) {
  .anytime .sec-t {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .anytime .sec-t {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .anytime .sec-t {
    margin-bottom: 30px;
  }
}
.anytime .sec-t h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #ffe6a7;
  margin-bottom: 16px;
}
@media only screen and (max-width: 1199px) {
  .anytime .sec-t h2 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 991px) {
  .anytime .sec-t h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .anytime .sec-t h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 482px) {
  .anytime .sec-t h2 {
    font-size: 30px;
  }
}
.anytime .sec-t h2 span {
  color: #ffd25f;
}
.anytime .sec-t p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: #909dac;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  padding: 0px 10px;
  margin-bottom: 22px;
}
@media only screen and (max-width: 767px) {
  .anytime .sec-t p {
    font-size: 16px;
    font-weight: 600;
  }
}

.phone-screenshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
}
@media only screen and (max-width: 767px) {
  .phone-screenshot {
    margin-left: -10px;
    margin-right: -10px;
  }
}
.phone-screenshot .mobile-screen {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  max-width: 240px;
}
@media only screen and (max-width: 767px) {
  .phone-screenshot .mobile-screen {
    max-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 482px) {
  .phone-screenshot .mobile-screen {
    max-width: 150px;
  }
}
@media only screen and (max-width: 991px) {
  .phone-screenshot .arrow-point {
    max-width: 50px;
  }
}
@media only screen and (max-width: 482px) {
  .phone-screenshot .arrow-point {
    max-width: 30px;
  }
}

/*--------------------------------------------------------------
  ## video-cta
--------------------------------------------------------------*/
.video-cta {
  padding: 80px 0px;
}
@media only screen and (max-width: 991px) {
  .video-cta {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .video-cta {
    padding: 50px 0px;
  }
}
.video-cta .sec-t {
  margin-bottom: 30px;
}
@media only screen and (max-width: 1199px) {
  .video-cta .sec-t {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .video-cta .sec-t {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .video-cta .sec-t {
    margin-bottom: 30px;
  }
}
.video-cta .sec-t h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #171616;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #fff, -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1199px) {
  .video-cta .sec-t h2 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 991px) {
  .video-cta .sec-t h2 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .video-cta .sec-t h2 {
    font-size: 46px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 482px) {
  .video-cta .sec-t h2 {
    font-size: 40px;
  }
}
.video-cta .sec-t h2 span {
  color: #ffd25f;
}
.video-cta .sec-t p {
  color: #f2f2f3;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffea00;
}
@media only screen and (max-width: 767px) {
  .video-cta .sec-t p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.video-cta .abt-txxt p {
  font-size: 15px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .video-cta .abt-txxt p {
    margin-bottom: 24px;
  }
}

.btn-abi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #505050;
  padding: 16px 10px;
  border-radius: 16px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-abi img {
  width: 35px;
  margin-bottom: 10px;
}
.btn-abi span {
  color: #171616;
  font-size: 18px;
  font-weight: 600;
}
.btn-abi:hover {
  background-color: #db3417;
}

/*--------------------------------------------------------------
  ## cta-2
--------------------------------------------------------------*/
.cta-2 {
  background-image: url("../images/BG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px;
}
@media only screen and (max-width: 991px) {
  .cta-2 {
    padding: 100px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .cta-2 {
    padding: 70px 0px;
  }
}
@media only screen and (max-width: 482px) {
  .cta-2 {
    padding: 50px 0px;
  }
}
.cta-2 .cta-txt {
  text-align: center;
}
.cta-2 .cta-txt h2 {
  font-size: 60px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .cta-2 .cta-txt h2 {
    font-size: 57px;
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .cta-2 .cta-txt h2 {
    font-size: 40px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 482px) {
  .cta-2 .cta-txt h2 {
    font-size: 37px;
    margin-bottom: 10px;
  }
}
.cta-2 .cta-txt p {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 991px) {
  .cta-2 .cta-txt p {
    margin-bottom: 24px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .cta-2 .cta-txt p {
    margin-bottom: 20px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 482px) {
  .cta-2 .cta-txt p {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

/*--------------------------------------------------------------
  ## social-section
--------------------------------------------------------------*/
.social-section {
  padding: 80px 0px;
}
@media only screen and (max-width: 767px) {
  .social-section {
    padding: 50px 0px;
  }
}
.social-section .sec-t {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.social-section .sec-t h2 {
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  color: #F7F7F7;
  letter-spacing: 13px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .social-section .sec-t h2 {
    font-size: 24px;
    letter-spacing: 6px;
  }
}
.social-section .sec-t p {
  color: #d6d4c6;
  margin-top: 14px;
  letter-spacing: 2px;
}
@media only screen and (max-width: 767px) {
  .social-section .sec-t p {
    letter-spacing: 1px;
  }
}

.social-conx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #212121;
  border-radius: 50px;
  padding: 10px 20px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .social-conx {
    margin-top: 20px;
  }
}
.social-conx a {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-conx a:not(:last-child) {
  margin-right: 30px;
}
.social-conx a img {
  height: 50px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-conx a p {
  color: #bfbfbf;
}
@media only screen and (max-width: 767px) {
  .social-conx a p {
    font-size: 14px;
  }
}
.social-conx a:hover img {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.social-conx a:hover p {
  color: #636469;
}

/*--------------------------------------------------------------
  ## buy-sec
--------------------------------------------------------------*/
.buy-sec {
  padding: 80px 0px;
}
@media only screen and (max-width: 767px) {
  .buy-sec {
    padding: 50px 0px;
  }
}
.buy-sec .sec-t {
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .buy-sec .sec-t {
    margin-bottom: 25px;
  }
}
.buy-sec .sec-t h2 {
  font-size: 58px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 16px;
}
@media only screen and (max-width: 1299px) {
  .buy-sec .sec-t h2 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .buy-sec .sec-t h2 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .buy-sec .sec-t h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 482px) {
  .buy-sec .sec-t h2 {
    font-size: 30px;
  }
}
.buy-sec .sec-t p {
  color: #ffd25f;
  letter-spacing: 2px;
}
@media only screen and (max-width: 767px) {
  .buy-sec .sec-t p {
    letter-spacing: 1px;
  }
}
.buy-sec .step-sec h4 {
  font-size: 30px;
  color: #636469;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .buy-sec .step-sec h4 {
    font-size: 25px;
  }
}
.buy-sec .step-sec p {
  margin-bottom: 20px;
}
.buy-sec .point-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.buy-sec .point-list li {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buy-sec .point-list li:not(:last-child) {
  margin-bottom: 6px;
}
.buy-sec .point-list li img {
  height: 35px;
  width: 35px;
  min-width: 35px;
  margin-right: 8px;
}
.buy-sec .point-list li a {
  color: #636469;
}

/*--------------------------------------------------------------
  ## tokeno
--------------------------------------------------------------*/
.tokeno {
  padding: 80px 0px;
}
@media only screen and (max-width: 991px) {
  .tokeno {
    padding: 60px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .tokeno {
    padding: 50px 0px;
  }
}
.tokeno .sec-t {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1199px) {
  .tokeno .sec-t {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .tokeno .sec-t {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .tokeno .sec-t {
    margin-bottom: 30px;
  }
}
.tokeno .sec-t h2 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #F7F7F7;
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-bottom: 16px;
  text-shadow: 2px 2px 0px #fff, -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff;
  color: #000;
}
@media only screen and (max-width: 1199px) {
  .tokeno .sec-t h2 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .tokeno .sec-t h2 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .tokeno .sec-t h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .tokeno .sec-t h2 {
    font-size: 33px;
  }
}
.tokeno .sec-t p {
  color: #ffd25f;
  letter-spacing: 2px;
}
@media only screen and (max-width: 767px) {
  .tokeno .sec-t p {
    letter-spacing: 1px;
  }
}
.tokeno .token-single {
  background-color: #464646;
  padding: 20px;
  border-radius: 18px;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: inset 0 0 25px #000;
          box-shadow: inset 0 0 25px #000;
  height: 100%;
}
.tokeno .token-single .token-inner {
  background-color: #636469;
  -webkit-box-shadow: inset 0 0 5px #000;
          box-shadow: inset 0 0 5px #000;
  padding: 30px 30px;
  border-radius: 17px;
  height: 100%;
}
.tokeno .token-single span {
  position: relative;
  display: inline-block;
  color: #ffd25f;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 767px) {
  .tokeno .token-single span {
    font-size: 19px;
  }
}
.tokeno .token-single h5 {
  position: relative;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1199px) {
  .tokeno .token-single h5 {
    font-size: 22px;
  }
}
.tokeno .token-single p {
  color: #e5e4e4;
}

.contract-adress {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px;
  border-radius: 16px;
  background-color: #121212;
  border: 1px dashed #636469;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 991px) {
  .contract-adress {
    margin-top: 30px;
  }
}
.contract-adress .firt span {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  margin-bottom: 12px;
}
@media only screen and (max-width: 767px) {
  .contract-adress .firt span {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.contract-adress .firt p {
  font-size: 21px;
  word-break: break-all;
  line-height: 1.4;
  color: #b9b6b6;
}
@media only screen and (max-width: 767px) {
  .contract-adress .firt p {
    font-size: 17px;
  }
}

.copy-button {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #636469;
  outline: none;
  border: 0;
  color: #000;
  font-size: 16px;
  border-radius: 10px;
}
@media only screen and (max-width: 991px) {
  .copy-button {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .copy-button {
    height: 55px;
    height: 55px;
  }
}
.copy-button img {
  height: 30px;
}
@media only screen and (max-width: 767px) {
  .copy-button img {
    height: 20px;
  }
}

/*--------------------------------------------------------------
  ## page-hero
--------------------------------------------------------------*/
.page-hero {
  background-image: url("../images/BG_2.1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 180px;
  padding-bottom: 110px;
}
@media only screen and (max-width: 767px) {
  .page-hero {
    padding-top: 140px;
    padding-bottom: 80px;
  }
}
.page-hero .page-txt {
  text-align: center;
}
.page-hero .page-txt h1 {
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  line-height: 1.1;
  font-style: normal;
  font-weight: 700;
  text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media only screen and (max-width: 1399px) {
  .page-hero .page-txt h1 {
    font-size: 65px;
  }
}
@media only screen and (max-width: 1199px) {
  .page-hero .page-txt h1 {
    font-size: 57px;
  }
}
@media only screen and (max-width: 991px) {
  .page-hero .page-txt h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .page-hero .page-txt h1 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 482px) {
  .page-hero .page-txt h1 {
    font-size: 35px;
  }
}
.page-hero .page-txt p {
  color: #000;
  font-size: 26px;
  font-weight: 600;
}

/*--------------------------------------------------------------
  ## media-page
--------------------------------------------------------------*/
.media-page {
  background-color: rgb(101 103 108);
  background-image: linear-gradient(22deg, rgb(101 103 108) 0%, #e9600d 100%) 100%);
}

.cming-img img {
  border-radius: 16px;
}

/*--------------------------------------------------------------
# main-footer
--------------------------------------------------------------*/
.main-footer {
  background-color: #171616;
  padding: 50px 0px;
  text-align: center;
}
.main-footer .footer-logo-w .footer-logo{
  height: auto !important;
  width: 450px !important;
}
@media only screen and (max-width: 767px) {
  .main-footer {
    padding: 30px 0px;
  }
}
@media only screen and (max-width: 482px) {
  .main-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.main-footer .footer-logo-w .footer-logo {
  height: 50px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-logo-w .footer-logo {
    height: auto !important;
    width: 250px !important;
  }
}
.main-footer .footer-logo-w p {
  font-size: 14px;
  color: #777;
}
/*# sourceMappingURL=main.css.map */